body{
    display:flex;
    align-items:center;
    justify-content: center;
    height: 100vh;


}

button{
    border:none;
    padding: 10px;
    min-width: 200px;
    border-radius: 3px;

}
button{
    background-color: blue;
    color:white;
    
}
button{
    background-color: white;
    color:black;

}